<div id="session-timeout-dialog" class="row" style="position: absolute; top: 0;">
    <div class="col-xs-12">
        <p>' + opt.message + '</p>
        ' + countdownMessage + ' ' + coundownBarHtml + '
        <span id="final-countdown"></span>
        <a id="clickme" role="button" href="#">Extend</a>
    </div>
</div>
<!--
$("#final-countdown").html("value");
$("#message").html("value");
$("#countdownBarHtml").html("value");
-->
<!--

    '<div class="modal fade" id="session-timeout-dialog"> \
              <div class="modal-dialog"> \
                <div class="modal-content"> \
                  <div class="modal-header"> \
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> \
                    <h4 class="modal-title">' + opt.title + '</h4> \
                  </div> \
                  <div class="modal-body"> \
                    <p>' + opt.message + '</p> \
                    ' + countdownMessage + ' \
                    ' + coundownBarHtml + ' \
                  </div> \
                  <div class="modal-footer"> \
                    <button id="session-timeout-dialog-logout" type="button" class="btn btn-default">' + opt.logoutButton + '</button> \
                    <button id="session-timeout-dialog-keepalive" type="button" class="btn btn-primary" data-dismiss="modal">' + opt.keepAliveButton + '</button> \
                  </div> \
                </div> \
              </div> \
             </div>'
-->